@model RatingModel
@{
    ViewData["Title"] = "View ratings";
}

<h2>@Model.Student.Surname, @Model.Student.Name</h2>

<div>
    Name:@Model.Student.Name
</div>
<div>
    Surname:@Model.Student.Surname
</div>
<div>
    Surname:@Model.Course.Course
</div>
<div>
    Rating:@Model.Rating
</div>
<div>
    Surname:@Model.Description
</div>

<br />
<a asp-controller="Rating" asp-action="Index">Back</a>
</br>

